@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
#text_logo {
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    color: #000000;
}

a:link {
    text-decoration: none;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.headings {
    text-align: left;
    font-weight: 350;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    letter-spacing: -.30px;
    font-size: 20px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -.30px;
    line-height: 1.6;
    padding: 10px;
    background-color: #fff;
    font-weight: 300;
    font-size: 18px;
}

/* transition answers */

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
    /* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}

button {
    background-color: #000099;
    color: #ffffff;
    border-radius: 3px;
    border-color: #000099;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    font-weight: 350;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

/** questions css **/

#questionStyle {
    font-weight: 500;
    letter-spacing: -.50px;
    color: #000099;
    font-size: 20px;
}