
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');


a {
    -background-color:transparent;
    text-decoration: none;
    color: #7F1C25;
    font-style: normal;

}

a:hover {
    outline: 0;
    font-weight: bold;
    color: #612711;
}

h1, h2, h4 {
   color: #7F1C25;
   font-family: 'EB Garamond', serif;
   letter-spacing: -.80px;
}


body {
   font-family: 'EB Garamond', serif;
   -background-color: #E8F2F1;
    background: linear-gradient(#e8f2f1, #e8eef2, #e8f2ec);
   letter-spacing: -.30px;
   padding-top: 50px;
   padding-left: 50px;
   padding-right: 50px;
   line-height: 1.2;
   font-size: 1.30em;

}



.tabs {
	clear: both;
	position: relative;
   max-width: 680px;
   margin: 0 auto;
   /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
	float: left;
}

.tab label {
  font-size: 28px;
  margin-right: 22px;
	position: relative;
	top: 0;
	cursor: pointer;
	color: #7F1C25;
}

.tab [type=radio] {
	display: none;
}

.tab__content {
  position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
	opacity: 0;
}

[type=radio]:checked ~ label {
	border-bottom: 2px solid #7F1C25;
	color: #7F1C25;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
	z-index: 1;
	opacity: 1;
}
